*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  
}

.wrapper{
  display: flex;
  flex-direction: column;
 width: 100%;
 height: 100vh;

}

.toggle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 300px;
  background-color: pink;
  margin: auto;
}
.wrapper .toggle h2{

  justify-content: center;
  align-items: center;
}

/* slider */
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.silder{
  position: absolute;
  cursor: pointer;
  top : 0;
  left: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .silder{
  background-color: #2196f3;
}
input:focus + .silder{
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.bigger-container{
display: flex;
flex-direction: row;
  width:70%;
  min-height: 900px;
   background-color: hsl(240, 78%, 98%);
  margin: auto;
  padding-top: 30px;
  margin-top: 40px;

}

.first{
  width: 30%;
  height: 400px;
  background-color: white;
  justify-content: center; 
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  margin-top: 10px;
  border-radius: 10px;
}

.first-div{
  line-height: 40px;
  border-bottom: 2px;
}
.title{
  text-align: center;
}


.first-div p, h3, h4{
  line-height: 20px;
  border-bottom: 1px solid #fff;
}
.second{
  width: 50%;
  height: 500px;
  background-color: #2195f360;;
  text-align: center;
  justify-content: center; 
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

 .users, .send, .store, .learn{
  border-bottom-width: none;
  color: white;
  font-size:  16px;
}

.prof{
  padding-top: 10px;
}
h3.tut hr{
  width:  50px;
}
.second-div{
  line-height: 40px;
  border-bottom: 2px;
}
li{
  border: 1px solid #fff;
}


.second-div p, h3, h4{
  line-height: 40px;
  border-bottom: 2px solid #fff;


}

 h3.tut{
  font-size: 30px;
  font-family: tahoma;
  color: white;
  word-spacing: 23;
 
}
.third{
  width: 30%;
  height: 400px;
  background-color: hsl(240, 78%, 98%);
   text-align: center;
  justify-content: center; 
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-radius: 10px;

}
.third-div{
  line-height: 40px;
  border-bottom: 2px;
}


.third-div p, h3, h4{
  line-height: 40px;
  border-bottom: 1px solid #fff;
}

/* @media screen and (max-width:1024px){
  .wrapper{
    width: 100%;
    display: flex;
  }
 .first .first-div{
  margin-right: 22px;
 }

 .third .third-div{
  margin-left: 22px;
 }

 .second .second-div{
  font-size: 16px;
  text-align: center;

 } */

 @media screen and (max-width : 600px){
  body{
    background-color: darkgray;
  }
  .first .first-div{
    padding-left: 5px;
    text-align: center;
    font-size: 17px;
   
  }
  .third .third-div{
    padding-right: 5px;
    /* padding-bottom: 20px; */
    text-align: center;
    font-size: 15px;
    /* font-weight: bold; */
  }
  .second .second-div{
    /* padding-right: 5px; */
    /* padding-bottom: 20px; */
    text-align: center;
    /* font-size: 9px; */
    /* font-weight: bold; */
    width: 100%;
  }

  .second .second-div .prof{
    font-size: 19px;
  }

  .second .second-div .users{
   color: white;
  }

 }


 @media screen and (min-width : 600px) and (max-width : 992px){
  body{
    background-color:  darkslategray;
  }
  
 }

 @media screen and (min-width : 992px) {
  body{
    background-color: darkgrey;
  }
  
 }
  

